<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판별 메인 목록 페이지</title>
</head>
<body>
<th:block th:replace="/fragments/header"></th:block>

<div class="container mt-4">
    <h1 class="mb-4 text-center"><span th:text="${masterVO.bbsName}">공지사항</span></h1>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-sm btn-primary" type="button" th:if="${masterVO.bbsUserWriteYn == 'Y'}" th:onclick="location.href='/bbs/create_bbs.page'">게시글 작성</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light text-center">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <!-- 데이터 반복 -->
        <tr th:each="bbs : ${bbsList}"
            th:attr="data-bbs-id=${bbs.bbsId}, data-bbs-no=${bbs.bbsNo}" style="cursor: pointer;">
            <td th:text="${bbs.bbsNo}"><input type="hidden" th:value="${bbs.bbsId}"></td>
            <td><span th:text="${bbs.bbsTitle}"></span>&nbsp;&nbsp;<img th:if="${bbs.newTime < masterVO.bbsNewHour}" th:src="@{/img/new.jpg}"></td>
            <td th:text="${bbs.bbsWtime}"></td>
            <td>
                <span th:if="${masterVO.bbsWriterViewYn == 'Y'}" th:text="${bbs.bbsWriterName}"></span>
                <span th:unless="${masterVO.bbsWriterViewYn == 'Y'}">***</span>
            </td>
            <td th:text="${bbs.bbsViewCount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('tr[data-bbs-id][data-bbs-no]').forEach(function (row) {
            row.addEventListener('click', function () {
                const bbsId = row.getAttribute('data-bbs-id');
                const bbsNo = row.getAttribute('data-bbs-no');
                location.href = `/bbs/bbs_view.page/${bbsId}/${bbsNo}`;
            });
        });
    });
</script>
</body>
</html>